@model _21century.Models.Manufacturer

@{
    ViewBag.Title = string.Format("{0} | Производители | {1}", Model.Name, _21century.Constants.TITLE);
}

<p>
    @Html.ActionLink("На главную", "Index", "Home", new {@style="color: #808080;" })
    @_21century.Constants.BREADCRUMBS_SEPARATOR
    @Html.ActionLink("Производители", "GetShortName", new { shortName = string.Empty }, new {@style="color: #808080;" })
    @_21century.Constants.BREADCRUMBS_SEPARATOR
    @Model.Name
</p>

@if (Request.IsAuthenticated && (User.IsInRole(_21century.Constants.ROLE_ADMIN) || User.IsInRole(_21century.Constants.ROLE_CONTENT_MANAGER)))
{
    <p>@Html.ActionLink("Редактировать", "Edit", new { id = Model.ID })&nbsp;&nbsp;&nbsp;@Html.ActionLink("Удалить", "Delete", new { id = Model.ID })</p>
}
<div style="padding-top: 15px">
    <h2 style="color: #ffffff">@Model.Name</h2>
    <p style="color: #ffffff">@Model.Description</p>
</div>
