@model IEnumerable<_21century.Models.Manufacturer>

@{
    ViewBag.Title = string.Format("Производители | {0}", _21century.Constants.TITLE);
}

<p>
    @Html.ActionLink("На главную", "Index", "Home")
    @_21century.Constants.BREADCRUMBS_SEPARATOR
    Производители
</p>
<h2>Производители</h2>

@if (Request.IsAuthenticated && (User.IsInRole(_21century.Constants.ROLE_ADMIN) || User.IsInRole(_21century.Constants.ROLE_CONTENT_MANAGER)))
{
    <p>@Html.ActionLink("Создать", "Create")</p>
}

<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.ActionLink(item.Name, "GetShortName", new { shortName = item.ShortName })</td>
        @if (Request.IsAuthenticated && (User.IsInRole(_21century.Constants.ROLE_ADMIN) || User.IsInRole(_21century.Constants.ROLE_CONTENT_MANAGER)))
        {
            <td style="padding-left:30px;">@Html.ActionLink("Вверх", "Up", new { id = item.ID })</td>
            <td style="padding-left:30px;">@Html.ActionLink("Вниз", "Down", new { id = item.ID })</td>
        }
    </tr>
    }
</table>