@model pittools.Models.Product

@{
    ViewBag.Title = string.Format("{0} | Товары | {1}", Model.Name, pittools.Constants.TITLE);
}

<p>
    @{
        List<string> path = pittools.Helper.GetUrlPath(Request);

        if (path.Count == 2)
        {
            @Html.ActionLink("На главную", "Index", "Home")
            @pittools.Constants.BREADCRUMBS_SEPARATOR
            @Html.ActionLink("Товары", "GetShortName", new { shortname = string.Empty })
            @pittools.Constants.BREADCRUMBS_SEPARATOR
            @Model.Name
        }
        else if (pittools.Helper.GetUrlPath(Request).Count == 3)
        {
            @Html.ActionLink("На главную", "Index", "Home")
            @pittools.Constants.BREADCRUMBS_SEPARATOR
            @Html.ActionLink("Производители", "GetShortName", "Manufacturer", new { shortname = string.Empty }, null)
            @pittools.Constants.BREADCRUMBS_SEPARATOR
            @Html.ActionLink(pittools.Service.Factory.ManufacturerServiceFactory.Create().Get(path[1]).Name, "GetShortName", "Manufacturer", new { shortname = path[1] }, null)
            @pittools.Constants.BREADCRUMBS_SEPARATOR
            @Model.Name
        }
    }
</p>
@if (Request.IsAuthenticated && (User.IsInRole(pittools.Constants.ROLE_ADMIN) || User.IsInRole(pittools.Constants.ROLE_CONTENT_MANAGER)))
{
    <p>@Html.ActionLink("Редактировать", "Edit", new { id = Model.ID, page = Request.QueryString["page"] })&nbsp;&nbsp;&nbsp;@Html.ActionLink("Удалить", "Delete", new { id = Model.ID, page = Request.QueryString["page"] })</p>
} 
    <h2>@Model.Name</h2>
    <p><span style="font-weight:bold">Цена: </span>@Model.Price руб.</p>
    <p><span style="font-weight:bold">Производитель: </span>@Model.Manufacturer.Name</p>
    <p>@Model.Description</p>