@model _21century.Models.Category

@{
    ViewBag.Title = string.Format("{0} | {1}", Model.Name, _21century.Constants.TITLE);
}

<p>
    @Html.ActionLink("На главную", "Index", "Home")
    @_21century.Constants.BREADCRUMBS_SEPARATOR
    @Model.Name
</p>

<h2>@Model.Name</h2>

@if (Request.IsAuthenticated && (User.IsInRole(_21century.Constants.ROLE_ADMIN) || User.IsInRole(_21century.Constants.ROLE_CONTENT_MANAGER)))
{
    <p>@Html.ActionLink("Редактировать", "Edit", new { id = Model.ID })&nbsp;&nbsp;&nbsp;@Html.ActionLink("Удалить", "Delete", new { id = Model.ID })</p>
}

@functions
{
    public string RowProducts(ref int index)
    {
        string strResult = "<tr>";
        
        for(int innerIndex=0; innerIndex<_21century.Constants.PRODUCT_NUMBER_IN_ROW; innerIndex++)
        {
            strResult += "<td st yle='text-align:center; padding-bottom:20px;'>";
            
            if(index < Model.CategoryProducts.Count())
            {
                var obj = Model.CategoryProducts.OrderByDescending(item => item.Sequence).Skip(index).Take(1).First();
                string strImage = "0.jpg";
                if(!string.IsNullOrWhiteSpace(obj.Product.ImageExt)) { strImage = obj.Product.ID.ToString() + obj.Product.ImageExt.TrimEnd() + "?" + DateTime.Now.ToString(); }
                strResult += string.Format("<a href='{0}'><img src='{1}/{2}/{3}/{4}' alt='{5}' /></a>", Url.Action("GetProductInCategory", "Product", new { category = obj.Category.ShortName, product = obj.Product.ShortName }), Url.Content("~/Content"), _21century.Constants.PRODUCT_IMAGES_FOLDER, _21century.Constants.PRODUCT_IMAGES_MINI_FOLDER, strImage, obj.Product.Name);
                strResult += "<br />";
 
                strResult += Html.ActionLink(obj.Product.Name, "GetProductInCategory", "Product", new { category = obj.Category.ShortName, product = obj.Product.ShortName }, null);
                
                if(Request.IsAuthenticated && (User.IsInRole(_21century.Constants.ROLE_ADMIN)||User.IsInRole(_21century.Constants.ROLE_CONTENT_MANAGER)))
                {
                    strResult += "<br />";
                    strResult += Html.ActionLink("<- Вверх", "Up", "CategoryProduct", new { id = obj.ID }, null);
                    strResult += "&nbsp;&nbsp;&nbsp;";
                    strResult += Html.ActionLink("Вниз ->", "Down", "CategoryProduct", new { id = obj.ID }, null);
                }
            }
 
            strResult += "</td>";
 
            index = index + 1;
        }
 
        strResult += "</tr>";
 
        return strResult;
    }
}

<table style="width:100%">
    @{
        int iCategoryProductsCount = Model.CategoryProducts.Count;
        int iCategoryProductIndex = 0;

        while (iCategoryProductIndex < iCategoryProductsCount)
        {
            @MvcHtmlString.Create(RowProducts(ref iCategoryProductIndex))
        }
    }
</table>