@model _21century.Models.Product

@{
    ViewBag.Title = string.Format("{0} | Товары | {1}", Model.Name, _21century.Constants.TITLE);
}

<p>
    @{
        List<string> path = _21century.Helper.GetUrlPath(Request);

        if (path.Count == 2)
        {
            @Html.ActionLink("На главную", "Index", "Home",new {@style="color: #808080;" })
            @_21century.Constants.BREADCRUMBS_SEPARATOR
            @Html.ActionLink("Товары", "GetShortName", new { shortname = string.Empty },new {@style="color: #808080;" })
            @_21century.Constants.BREADCRUMBS_SEPARATOR
            @Model.Name
        }
        else if (_21century.Helper.GetUrlPath(Request).Count == 3)
        {
            @Html.ActionLink("На главную", "Index", "Home")
            @_21century.Constants.BREADCRUMBS_SEPARATOR
            @Html.ActionLink("Производители", "GetShortName", "Manufacturer", new { shortname = string.Empty }, null)
            @_21century.Constants.BREADCRUMBS_SEPARATOR
            @Html.ActionLink(_21century.Service.Factory.ManufacturerServiceFactory.Create().Get(path[1]).Name, "GetShortName", "Manufacturer", new { shortname = path[1] }, null)
            @_21century.Constants.BREADCRUMBS_SEPARATOR
            @Model.Name
        }
    }
</p>

<p>@Html.ActionLink("Редактировать", "Edit", new { id = Model.ID, page = Request.QueryString["page"]})&nbsp;&nbsp;&nbsp;@Html.ActionLink("Удалить", "Delete", new { id = Model.ID })</p>
<h2 style="color: #ffffff">@Model.Name</h2>
<p style="color: #ffd800"><span style="font-weight:bold; color: #ffffff">Цена: </span>@Model.Price руб.</p>
<p style="color: #ffd800"><span style="font-weight:bold; color: #ffffff">Производитель: </span>@Model.Manufacturer.Name</p>
<p style="color: #ffffff">@Model.Description</p>